HTML {
  height: 100%;
}
body {
  font-family: 'Cabin', sans-serif;
  background-color: #F2F3F4;
}
header {
  background-color: #8BC5BF;
  padding: 0.3em;
  text-align: center;
  font-size: 4.5em;
  border-bottom: solid grey 1px;
  color: white;
  margin-bottom: 0.5em;
}
main {
  position: relative;
  margin: auto;
  padding: 1em;
  border: solid grey 1px;
  width:50%;
  height: 50%;
  background-color: #E7B44C;
  border-radius: 0.2em;
}
.user-form {
  padding: 0.5em;
  display: block;
  text-align: left;
}
input {
  display: block;
  margin: auto;
  width: 90%;
  margin-bottom: 1em;
  border-radius: 0.2em;
  text-align: left;
  font-size: 1.2em;

}

.submit{

}
